@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
}


.container h1 {
    margin: 3rem 0;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-task {
    background-color: #f4f4f4;
    min-height: 90vh;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
}

.list-task h5 {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem 0;
}

.list-task .task-output {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #dfdddd;
    min-height: 70vh;
    border-radius: 1rem;
    padding-bottom: 3rem;
    height: auto;
}


.category h6 {
    font-size: 1rem;
}

.task-item {
    position: relative;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 2rem;
    width: 18rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
}

.invisible {
    display: none;
}

.empty-task-item {
    display: inline-block;
    margin: 0.5rem;
    height: 5rem;
    width: 19rem;
    background-color: transparent;
    border-radius: 2rem;
}

.hovered-task-item {
    margin: 0.5rem;
    height: 4rem;
    width: 18rem;
    background-color: #bebebe;
    border-radius: 2rem;
}

.add-task-input {
    margin: 0.5rem;
    height: 4rem;
    width: 18rem;
    text-align: center;
    font-size: 1rem;
    padding: 0 2rem;
    background-color: #f7f7f7;
    border-radius: 2rem;
    border: none;
}

input:focus {
    outline: none;
}

.task-value {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    width: 90%;
    font-size: 0.9rem;
}

.task-item.remove {
    display: none;
}

.task-item small {
    font-size: 0.6rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
    color: #fff;
    background-color: #0d6efd;
}